/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* colors  
#970c10 - maroon
#253140 - blue */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
    background-color : #253140;
    }
    h1{
        font-family:Arial, Helvetica, sans-serif;
        font-size: 26px;
        line-height: 1.143;
        font-weight: 700;
        text-decoration: none;
        font-style: normal;
        letter-spacing: 0;
        padding: 7.5px;
    }
    h2{
        font-family: Helvetica;
        font-size: 20px;
        line-height: 1.5;
        font-weight: 400;
        text-decoration: none;
        font-style: normal;
        letter-spacing: 0;
        padding: 7.5px;
    }
    h3{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;
        line-height: 1.6;
        font-weight: 400;
        text-decoration: none;
        font-style: normal;
        letter-spacing: 0;
        padding: 7.5px;
    }
    hr {
        background: linear-gradient(to right, #970c10 21%, rgba(0,0,0,0) 42%);
        height: 5px;
        border: none;
        margin: 7.5px;
      }
    .mobile-nav {
        background-color: #253140;
        display : flex;
        flex-direction : row;
        justify-content : space-between;
        color : white;
        font-size : xx-large;
    }
    .r-logo {
        width : auto;
        margin : 20px;
    }
    .hamburger-menu{
        margin : 20px;
    }
    .landing-view {
        width : 100%;
        height: calc(100vh - 52px);
        background : #253140;
        display : grid;
    }
    #image-container {
        padding: 30px 0px;
        width: 100%;
        background-color: #253140;
        align-items: center;
        text-align: center;
    }
    .responsive-image {
        max-width: 100%;
        height: auto;
    }
    #btn-group {
        display : flex;
        flex-direction : column;
        align-items : center;
        margin: 0 20px;
    }
    .hash-link {
        width : 100%;
        box-sizing: border-box;
        text-align : center;
        padding : 19px 0px;
        margin: 7.5px 0px;
        font-size : 15px;
        font-family: Helvetica, sans-serif, Arial;
        border-radius : 0;
        line-height : 1.2;
        border-width : 1px;
        border-radius : 0;
        border-color : white;
        border-style : solid;
        color : white;
    }
    #hash-link-maroon{
        background-color: #970c10;
        border: solid 1px #970c10;
    }
    .aboutme-view{
        background-color: white;
    }
    .aboutme-container{
        background-color: white;
        box-shadow: 0 4px 12px -2px rgba(107, 117, 161, .16);
        margin: 0 20px;
        padding: 30px 0px;
    }
    .aboutme-container > h2{
        color: #4a4a4e;
        font-weight: bold;
    }
    .aboutme-container > h3{
        color: #4a5568;
    }
    .services-view{
        background-color: white;
    }
    .services-container{
        color: black;
        margin: 0 20px;
        padding: 30px 0px;
        
    }
    .services-container > hr{
        background: linear-gradient(to right, #970c10 21%, rgba(0,0,0,0) 42%);
        height: 5px;
        border: none;
        margin: 7.5px;
    }
/* css for the services provided section */
.card{
    margin: 30px 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 12px -2px rgba(107, 117, 161, .16);
}
.card-icon-container{
    text-align: center;
    background-color: #e2e8f0;
}
.card-icon{
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
}
.card > h2{
    color: #4a4a4e;
    font-weight: bold;
}
.card > h3{
    color: #4a5568;
}
.form-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 60px 20px;
}
.form-text-container > h1{
    color: #970c10;
    margin: 7.5px 0px;
}
.form-text-container > h3{
    color: #4a5568;
    margin: 7.5px 0px;
}
.form-container > form{
    display: flex;
    flex-direction: column;
}
form > input, textarea{
    background-color: rgba(34, 42, 47, 0.12);;
    border: solid 1px #463f36;
    padding: 15.5px;
    border: 0;
    color: #4a5568;
    /* width: 100%; */
    box-sizing: border-box;
    text-align: center;
    padding: 19px 0px;
    margin: 7.5px 7.5px;
    font-size: 15px;
    font-family: Helvetica, sans-serif, Arial;
    line-height: 1.2;
}

#form-submit{
    background-color: #970c10;
    border: solid 1px #970c10;
    padding: 15.5px;
    border: none;
    color: white;
    /* width: 100%; */
    box-sizing: border-box;
    text-align: center;
    padding: 19px 0px;
    margin: 30px 7.5px;
    font-size: 15px;
    font-family: Helvetica, sans-serif, Arial;
    line-height: 1.2;
}
.footer-hr{
    background: white;
    height: 1px;
    border: none;
    margin: 0px;
}
    /* Footer */

    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 60px 20px
    }

    a {
    text-decoration: none;
    color: white;
    font-family: Helvetica;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    padding: 7.5px;
    }

    .aboutme-link {
        
    }




